<template>
<H1 class="is-size-3">患者さん一覧</H1>
<p>{{#each patients}}</p>
<div>
  <p>{{karteNumber}}</p>
  <p>名前．苗字のイニシャル：{{firstNameInitial}}．{{lastNameInitial}}</p>
  <div>
    <a href="/patients/edit/{{id}}">編集</a>
    <form action="/patients/{{id}}?_method=DELETE" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="button is-danger" value="削除">
    </form>
  </div>
</div>
<p>患者さんは登録されていません</p>
</template>